<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.co.mobiticket.mobiticket">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".utilities.AppController"
        android:allowBackup="false"
        android:icon="@drawable/mticket_green"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mticket_green"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MyVehiclesActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.MarketPlaceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.OwnerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ConductorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StakeholderMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VehicleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TicketsActivity"
            android:label="@string/title_activity_tickets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BookingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.NFCActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".services.TicketVerificationService"
            android:exported="false"
            android:stopWithTask="false" />

        <activity android:name=".activities.NoInternetActivity" />
        <activity
            android:name=".activities.PaymentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.PaymentMethodsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.PassengerDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.BaseActivity" />
        <activity
            android:name=".activities.SelectionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.BusListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.OperatorsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.CardsActivity" />
        <activity
            android:name=".activities.WalletActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ProfileSettingsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.NotificationActivity" />
        <activity
            android:name=".activities.VerificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.DashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="ext"
                    android:pathPrefix="/nfclab.com:mobima3"
                    android:scheme="vnd.android.nfc" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>